.vid {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.text{
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 50px;
	font-family: fantasy;
  text-align: center;
 
	


}
.box{
  width: 100%;
  height: 100vh;
  margin-top: 100vh
}


@keyframes buttonA {
  0% {display: none;}
  100% {display: block;}
}

